@model IEnumerable<PetProject.Models.Animal>
@{
    ViewData["Title"] = "Catalog";
    Layout = "_Layout";
    var categories = ViewBag.Categories as List<string>;
    var selectedCategory = ViewBag.SelectedCategory;
}
<div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-bold text-orange-500">Our Animals:</h1>
    <form asp-action="Index" method="get" class="flex items-center">
        <select name="SelectedCategory" class="border border-gray-300 rounded p-2 mr-2" onchange="this.form.submit()">
            <option value="">All Categories</option>
            @foreach (var category in categories)
            {
                if (category == selectedCategory)
                {
                    <option value="@category" selected>@category</option>
                }
                else
                {
                    <option value="@category">@category</option>
                }
            }
        </select>
        
    </form>
</div>
@if (!Model.Any())
{
    <h2 class="text-center text-2xl text-black-500">Sorry, no animals available in this category.</h2>
    <br/>
}
else
{
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-items-center">
    @foreach (var pet in Model)
    {
        <div class="bg-white p-4 w-full h-full rounded shadow-md hover:shadow-lg transition-shadow bg-opacity-80 duration-300 flex flex-col max-w-sm ">
            <h3 class="text-xl text-center font-semibold mb-2">@pet.Name</h3>
            <img src="~/Images/@pet.PictureName" class="w-full h-48 object-contain rounded mb-4" asp-append-version="true" alt="@pet.PictureName" />
            <p><strong>Age:</strong> @pet.Age</p>
            <div class="flex-grow">
                <strong>Description:</strong>
                    <p class="border-2 border-orange-300 rounded p-2 overflow-y-auto max-h-32 bg-amber-100 break-all"> @pet.Description</p>
            </div>
            <br />
            <div class="mt-auto">
                <div class="flex justify-center">
                    <a class="bg-stone-700 hover:bg-yellow-500 text-white font-bold py-2 px-4 rounded" asp-controller="Catalog" asp-action="Details" asp-route-animalId="@pet.AnimalId">Details</a>
                </div>
                </div>
            </div>
        
    }
</div>
    
}

